.div {
    background-color: yellow;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;
}

.div:hover {
    text-shadow: -2px 2px 10px rgb(0 0 0);
}

.count {
    background-color: black;
    color: white;
    width: fit-content;
    border-radius: 10px;
    align-content: center;
    padding: 1px;
    display: inline-flex;
    align-items: flex-end;
    flex: 0;
}